/* PRESETS */

:root {
  --violet: #32174d;
  --yellow: #ffef00;
  --white: #ebebeb;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 600;
  word-spacing: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--violet);
}

header>* {
  text-align: center;
}

h1 {
  font-size: 3.7em;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.12em;
  word-spacing: 0.42em;
  line-height: 1.4em;
}

img {
  max-width: 100%;
  display: block;
  transition: all .3s ease-out;
}

.arrow {
  width: 70px;
  transform: scale(.6);
}

.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAV BAR */
nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--white);
  flex-flow: row nowrap;
  justify-content: center;
}

#logo {
  width: 5vw;
  min-width: 50px;
}

#logo img {
  width: 100%;
  vertical-align: middle;
}

#navbar-links {
  margin: 0;
  padding: 0;

  justify-content: center;
  flex-grow: 1;

  list-style-type: none;
}

.link {
  padding: 0px 25px;

  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 1.2px;
  border-color: var(--white);
  color: inherit;
  text-decoration: none;
  transition: border-color 0.25s;
}

.link:hover {
  padding-top: 5px;
  border-bottom: 5px solid;
  border-color: var(--violet);
}

/* MAIN SECTION */

main>section {
  min-height: calc(100vh - 15px);
  display: grid;
}

main>section:not(:first-child) {
  padding-top: 90px;
}

.content {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: row nowrap;
  margin: 0 40px;
}

.side-image {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  border: 1px solid black;
}

.transform {
  transition: transform 0.3s ease-out;
}

.transform:hover {
  transform: scale(1.03);
}

.side-info {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  gap: 40px;
  border: 1px solid black;
}

.side-info p:not(:last-child) {
  margin-bottom: 20px;
}

.arrow .transform:hover {
  transform: scale(1.1);
}

/* WELCOME SECTION */
#welcome {
  grid-template-rows: 4fr 10px 1fr;
}

.gray-pic {
  max-width: 100%;
  background-image: url(assets/images/me-gray.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 75%;
  z-index: -1;
}

.gradient {
  width: 100%;
  background-image: linear-gradient(to right, var(--violet) 30%, var(--yellow));
}

#welcome .arrow {
  position: relative;
  margin: 0 auto;
  top: 30px;
}

/* ABOUT SECTION */
#about {
  grid-template-rows: auto 1fr;
}

#about .side-image {
  flex: 0.25 1;
}

#about img {
  border-radius: 10%;
}

#about .side-info {
  flex: .4 1;
  min-width: 450px;
}

#about a {
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}

#about a:hover {
  text-decoration: underline;
}

/* TRIP1 SECTION */
#trip1 {
  background-color: var(--yellow);
}

#trip1 .side-info {
  flex: .35 0;
  min-width: 400px;
}

#trip1 .side-image {
  flex: .65 1;
}

#trip1 .side-image>div {
  flex: 1.3 0;
  margin: 5px;
}

#trip1 .side-image img {
  border-radius: 10px;
}

/* TRIP2 SECTION */
#trip2 {
  background-color: var(--violet);
  color: var(--white);
}

#trip2 .side-image {
  flex: 0.5 1;
}

#trip2 .side-image div {
  max-width: 600px;
  -webkit-mask-image: url(assets/images/mask.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;

  mask-image: url(assets/images/mask.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
}

#trip2 .side-info {
  flex: .5 1;
  min-width: 450px;
}

#rotated {
  transform: scale(.6) rotateZ(180deg);
}

/* PETS SECTION*/
#pets {
  grid-template-rows: auto 1fr;
}

#pets .content {
  flex-direction: column;
}

#pets .side-image {
  display: flex;
  flex: 1 0;
}

#pets .side-image>section {
  flex: .24 1;
  min-width: 100px;
}

#pets .side-image header {
  font-size: 20px;
  margin-bottom: 15px;
}

#pets .side-image>div {
  margin: 0 auto;
}

#pets .side-image img {
  border-radius: 20px;
}

/* HOBBIES SECTION */
#hobbies {
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(to right, var(--violet) 50%, var(--yellow) 50%);
}

#hobbies .content {
  flex-direction: column;
}

#hobbies header {
  flex: .1 0;
}

#games {
  color: var(--white);
  grid-template-rows: auto 1fr;
}

#games .content,
#music .content {
  flex: .86 0;
  margin: 0;
  justify-content: space-around;
}

#hobbies .side-image div {
  filter: grayscale(100%);
}

#hobbies .side-image div:hover {
  filter: grayscale(0%);
}

#games .side-image a {
  text-decoration: none;
  text-align: center;
}

#lol {
  border-radius: 20px 0 0 20px;
}

#valorant {
  border-radius: 0 20px 20px 0;
}

#games .transform:hover {
  transform: translateY(-15px);
}

#music .side-image img {
  border-radius: 20px;
}


/* CAREER SECTION */
#career1 {
  grid-template-columns: 1fr 1fr;
}

#career1 .content {
  flex-direction: column;
}

#computer-science .content,
#udemy .content {
  flex: 1 1;
  margin: 0;
  justify-content: space-evenly;
}

#computer-science .side-image {
  flex: .4 0;
  align-items: flex-start;
  justify-content: space-between;
}

#computer-science .side-image figure>div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
  background-color: var(--violet);
}

#computer-science .side-image img {
  max-width: 50%;
}

#udemy .side-image {
  justify-content: space-around;
}



#career2 {
  background-color: var(--yellow);
  min-height: 65vh;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;
  gap: 10px;
  align-items: center;
}

#career2 > section {
  background-color: var(--violet);
  color: var(--white);
  padding: 30px 0px;
}

#career2 header{
  font-size: 20px;
  margin-bottom: 25px;
}

#career2 >section:first-child {
  border-radius: 0 35px;
}

#career2 >section:last-child {
  border-radius: 35px 0;
}




/* FOOTER SECTION */
footer {
  display: grid;
  min-height: 35vh;
  grid-template-rows: 10px 1fr 20px;
}

footer > section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  padding-top: 20px;
}

footer > section header {
  font-size: 30px;
  margin-bottom: 20px;
}

footer .side-image {
  align-content: baseline;
}

@media (max-width: 768px) {

  .side-image {
    display: none;
  }

  .side-info {
    flex: 1 1 !important;
    min-width: 0 !important;
    padding: 0 !important;
  }


}